@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@400;500;600;700&family=Open+Sans&family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Nunito:ital,wght@0,400;0,600;0,700;0,1000;1,900&family=Poppins:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
}
h1 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 49px; /* 98% */
  letter-spacing: -0.3px;
}
h2 {
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 115% */
  letter-spacing: -0.24px;
}

h3 {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
  letter-spacing: -0.16px;
}
p {
  color: #666;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
  letter-spacing: -0.072px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: -0.072px;
}
.background-container {
  border-radius: 20px;
  background: #d4e1f9;
  margin: 35px 40px 0 35px;
  background-image: url("/assets/image/ellipse.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 744px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px 0 90px;
}
nav a img {
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
nav ul li a {
  color: rgba(102, 102, 102, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
  letter-spacing: -0.072px;
}
.auth-button {
  display: flex;
  padding: 15px 25px;
  align-items: center;
  border-radius: 10px;
  color: #2758bf;
  border: 2px solid #2758bf;
  background-color: #fff;
  cursor: pointer;
}
.icon-company {
  /* position: relative; */
}
.icon-company img {
  position: absolute;
}
.icon-company .traveloka {
  top: 167px;
  left: 335px;
}
.icon-company .tokopedia {
  top: 147px;
  right: 298px;
}
.icon-company .gojek {
  top: 365px;
  left: 140px;
}
.icon-company .grab {
  position: absolute;
  top: 543px;
  right: 423px;
  border-radius: 1000px;
  background: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}
.icon-company .grab img {
  width: 82px;
  height: 30px;
}
.icon-company .blibli {
  top: 350px;
  right: 218px;
}

.landing-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* gap: 56px; */
  padding: 116px 380px 0 420px;
}
.landing-content .landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-content h1 {
  width: 476px;
  text-align: center;
}
.landing-content p {
  width: 639px;
  padding-bottom: 56px;
}
.find-company {
  color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  background: #2758bf;
  border: none;
  cursor: pointer;
}

.universities {
  margin: 0 120px;
  padding-bottom: 225px;
}

.universities h2 {
  margin: 0 321px;
  padding: 74px 100px 100px 100px;
  width: 400px;
}

.universities-logo img {
  width: 150px;
  height: 150px;
  margin-right: 59px;
}

.universities-logo img:last-child {
  margin-right: 0px;
  /* ga berfungsi */
}
.faq-container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin-left: calc((100% - 1200px) / 2);
  margin-right: calc((100% - 1200px) / 2);
}
.faq {
  margin-bottom: 126.5px;
}

.faq-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}
.questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.question-container {
  display: flex;
  padding: 0 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid var(--1, #d6dae0);
  background: #fff;
}
.question-list {
  display: flex;
  width: 508px;
  justify-content: space-between;
  align-items: center;
}
.question-list h4 {
  width: 379px;
  flex-shrink: 0;
}

footer {
  background: #aaa;
  padding: 100px 320px;
  height: 200px;
}
.footer-text {
  margin-right: 237px;
  float: left;
}
.footer-text p {
  width: 432px;
  color: var(--neutral-50, #666);
  text-align: justify;
}
.footer-nav {
  float: left;
}
.footer-nav h5 {
  color: rgba(0, 0, 0, 0.3);
  text-align: justify;

  /* Heading/5 */
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px; /* 122.222% */
  letter-spacing: -0.072px;
}
.footer-nav h3 {
  color: rgba(0, 0, 0, 0.4);
  text-align: justify;
  margin-bottom: 50px;
  /* Heading/3 */
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px; /* 125% */
  letter-spacing: -0.12px;
}

section {
  padding: 2.5rem 0;
}

.section-header {
  float: left;
  text-align: start;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.industry-header-btn-wrapper {
  float: right;
}

.list-button {
  border-radius: 100%;
  padding: 10px;
  width: 55px;
  height: 55px;
}

.list-button:first-child {
  margin-right: 16px;
}

.industry-card {
  background: white;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 20px;
  border: 1px #d6dae0 solid;
  width: 300px;
}

.industry-card-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.industry-card-img2 {
  width: 50px;
  height: 50px;
  position: absolute;
  background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
  border-radius: 100%;
  border: 3px white solid;
}

.industry-card-btn {
  text-align: center;
  color: #2758bf;
  width: 100%;
  padding: 12px;
  border: 1px solid #2758bf;
  border-radius: 7px;
  background-color: transparent;
}

.list-container {
  padding: 2rem 4rem;
  display: flex;
  gap: 1.5rem;
}

.testimoni-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
