.bg-ellipse {
  background-image: url(../../assets/images/ellipse.png);
  background-size: 105%;
  height: 744px;
  background-position: top center;
  background-color: #d4e1f9;
  background-repeat: no-repeat;
}